.venv
venv
.idea
*.pyc
.DS_Store
__pycache__/
dist/
build/
*.egg-info/
.env
.env.*
*.log
*.sqlite3
*.bak
*.swp
*.swo
*.tmp
*.vscode/
*.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
*.ipynb
*.csv
*.json
*.xml
*.yaml
*.yml

